<h1 style="text-align:center" (copy)="copyEvent()" (cut)="cutEvent()">Events Demo</h1><br>
<div class="alert alert-primary m-b-2" role="alert">
  <button class="btn btn-primary" (click)="clickEvent()">Click Event</button>
</div>
<div class="alert alert-primary m-b-2" role="alert">
  <button class="btn btn-info" (dblclick)="dblclickEvent()">Double Click</button>
</div>

<div class="alert alert-primary m-b-2" role="alert">

  <input type="text" (blur)="blurEvent()" (cut)="cutEvent()" (paste)="pasteEvent()" value="Blur event ">
</div>

<div class="alert alert-secondary m-b-2" role="alert">

  <input type="text" (focus)="focusEvent()" (cut)="cutEvent()" (paste)="pasteEvent()" value="Focus event ">
</div>